/* --- General Page Styles --- */
body {
        border: 2.5px solid gray;
        margin: 0px;
        padding: 0px;
        background-color: rgb(240, 220, 220);

    }


p {
    text-align: center;
    font-size: 18px; 
}


.labinfo {
    font-size: 20px;
    text-align: center;
}

.lab-description {
   font-size: 24px;
   font-style: italic;
   font-weight: bold;
   padding: 0 40px;
}

.rss-link {
   margin-top: 30px;
}

.title-banner {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    color: rgb(240, 220, 220);
    text-align: center;
    margin: 0;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #D6001C;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}



nav ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

nav ul li {
   margin-bottom: 40px;
}

nav ul li a {
   display: block;
   width: 450px;
   text-decoration: none;
   color: #D93025;
   background-color: transparent;
   border: 2px solid #D93025;
   padding: 30px 45px;
   border-radius: 8px;
   text-align: center;
   position: relative;
   overflow: hidden;
   z-index: 1;
   transition: color 0.6s ease-in-out;
   font-size: 27px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
}

nav ul li a::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 0;
   background-color: #D93025;
   transition: height 0.6s ease-in-out;
   z-index: -1;
   border-radius: 6px;
}


nav ul li a:hover {
   color: black;
   border-color: #A52714;
}


nav ul li a:hover::before {
   height: 100%;
}



h1 {
    font-size: 40px;
}

 h2 {
    font-size: 22px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 40px;
    padding: 20px;
}

h6 {
    font-size: 18px;
}


#projects pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
}

#projects code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #333;
}


.back-to-home {
   display: inline-block;
   width: 300px;
   text-decoration: none;
   color: #D93025;
   background-color: transparent;
   border: 2px solid #D93025;
   padding: 20px 30px;
   border-radius: 8px;
   text-align: center;
   position: relative;
   overflow: hidden;
   z-index: 1;
   transition: color 0.6s ease-in-out;
   font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   margin-top: 40px;
}


.back-to-home::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 0;
   background-color: #D93025;
   transition: height 0.6s ease-in-out;
   z-index: -1;
   border-radius: 6px;
}

.back-to-home:hover {
   color: black;
   border-color: #A52714;
}

.back-to-home:hover::before {
   height: 100%;
}

#projects ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 100px;
  padding: 0;
  list-style: none;
}

#projects li {
  width: 100%;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  min-height: 100vh;
}
